[submodule "my-bio"]
	path = my-bio
	url = https://github.com/Phlypper/my-bio.git
[submodule "my_personal_portfolio_page"]
	path = my_personal_portfolio_page
	url = https://github.com/Phlypper/my_personal_portfolio_page.git
[submodule "my_product_landing_page"]
	path = my_product_landing_page
	url = https://github.com/Phlypper/my_product_landing_page.git
[submodule "tribute_page"]
	path = tribute_page
	url = https://github.com/Phlypper/tribute_page.git
